@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&family=Source+Code+Pro:wght@300;400;500&display=swap");

@import "./variables";

html {
  font-size: $text-base; // 16px
}

body {
  margin: 0;
  padding: 0;
  background: $gray-550;
  font-family: $font-family-primary;
  font-weight: $font-normal;
  line-height: $leading-normal;
  color: $text-color;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
