// Mobile first

@import "../../assets/style/variables.scss";

.app {
  text-align: center;
}

.app-logo {
  max-width: 225px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .app-logo {
    animation: app-logo-spin infinite 20s linear;
  }
}

.app-main {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;

  p:first-of-type {
    font-size: $text-2xl;
    font-weight: $font-medium;
  }
}

@keyframes app-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (min-width: $breakpoint-sm) {
  .app-main {
    min-height: 90vh;
  }
}
