@import "../../assets/style/variables.scss";

.header {
  position: fixed;
  top: 0; /* Stick it to the top */
  min-height: 70px;
  width: 100vw;

  display: grid;
  grid-template-areas: "logo nav";

  /* Cosmetics */
  background-color: $primary-color;
}

.logo {
  padding: 18px;
  grid-area: logo;
  height: 40px;
}

.nav {
  display: grid;
  grid-area: nav;
  grid-template-columns: repeat(4, auto);
  align-items: center;
  justify-items: center;
}
.nav a {
  color: $black;
  font-size: $font-size-lg;
  font-weight: $font-weight-medium;
  transition: 0.5s;
  text-decoration: none;
}
.nav a:hover {
  transform: scale(1.1);
}
.nav button {
  cursor: pointer;
  transition: 70ms;
}

.nav button:active {
  transform: translateY(3px);
}

.burger {
  display: none;
  grid-area: burger;
  margin: 0 20px 0 0;
  padding: 0;
  justify-self: end;
  font-size: 40px;
  border: none;
  background: none;
  outline: none;
  transition: 0.1s;
}
.burger:active {
  transform: scale(1.2);
}

@media (max-width: $breakpoint-md) {
  .header {
    grid-template-areas: "logo burger" "nav nav";
  }
  .active-nav {
    display: grid;
    grid-template-rows: repeat(4, auto);
    grid-template-columns: none;
    grid-row-gap: 20px;
    padding: 30px 0 30px;
    background: rgba(40, 44, 47, 0.95);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

    a {
      color: $gray-100;
    }
  }

  .deactive-nav {
    display: none;
  }
  .burger {
    display: inline;
  }
}
