// Mobile first

@import "../../assets/style/variables.scss";

footer {
  position: fixed;
  bottom: 0; /* Stick it to the bottom */
  width: 100%;
  
  padding: 4px;
  background-color: $palette-02;
  text-align: center;

  p {
    color: $black;
    font-size: $text-base;
  }

  a {
    color: #1ac46b;
    font-size: $text-sm;
    font-weight: 600;
    text-decoration: none;
  }

  a:hover {
    color: $primary-color;
    text-decoration: underline;
  }
}
